<a href="https://colab.research.google.com/github/navneetkrc/Colab_fastai/blob/master/Basics/Pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Based on this Medium Article [Brief Pandas tour](https://towardsdatascience.com/a-brief-tour-of-pandas-9f10a8ce490a)   by Peirre

In [0]:
#Get the csv from github 
!wget https://github.com/navneetkrc/Colab_fastai/raw/master/Basics/aac_shelter_outcomes.csv

In [0]:
import pandas as pd

In [3]:
print("READING DATA")
df = pd.read_csv("aac_shelter_outcomes.csv")
print(df.head())

READING DATA
  age_upon_outcome animal_id  ... outcome_type sex_upon_outcome
0          2 weeks   A684346  ...     Transfer      Intact Male
1           1 year   A666430  ...     Transfer    Spayed Female
2           1 year   A675708  ...     Adoption    Neutered Male
3          9 years   A680386  ...     Transfer    Neutered Male
4         5 months   A683115  ...   Euthanasia          Unknown

[5 rows x 12 columns]

In [4]:
print(df.tail())

      age_upon_outcome animal_id  ... outcome_type sex_upon_outcome
78251          1 month   A764894  ...     Adoption    Spayed Female
78252          3 years   A764468  ...     Adoption    Neutered Male
78253              NaN   A766098  ...   Euthanasia          Unknown
78254         2 months   A765858  ...     Adoption    Spayed Female
78255         2 months   A765857  ...     Adoption    Neutered Male

[5 rows x 12 columns]

In [28]:
print(df.columns)

Index(['age_upon_outcome', 'animal_id', 'animal_type', 'breed', 'color',
       'date_of_birth', 'datetime', 'monthyear', 'name', 'outcome_subtype',
       'outcome_type', 'sex_upon_outcome', 'week_of_birth', 'month_of_birth',
       'year_of_birth'],
      dtype='object')

In [6]:
print("CLEANING DATA")
#df = pd.read_csv("aac_shelter_outcomes.csv")
print(df.isnull().sum())

CLEANING DATA
age_upon_outcome        8
animal_id               0
animal_type             0
breed                   0
color                   0
date_of_birth           0
datetime                0
monthyear               0
name                23886
outcome_subtype     42293
outcome_type           12
sex_upon_outcome        2
dtype: int64

In [7]:
print("Length Before:", len(df))
df.dropna(inplace=True)
print("Length After:", len(df))

Length Before: 78256
Length After: 17699

In [8]:
df = pd.read_csv("aac_shelter_outcomes.csv")
print("Length Before:", len(df))
df.fillna(0, inplace=True)
print("Length After:", len(df))

Length Before: 78256
Length After: 78256

In [9]:
print("FILTERING DATA")
df1 = df[df['breed']== 'Mastiff Mix']
df1 = df[df['sex_upon_outcome'] == 'Spayed Female']
print(df.head())

FILTERING DATA
  age_upon_outcome animal_id  ... outcome_type sex_upon_outcome
0          2 weeks   A684346  ...     Transfer      Intact Male
1           1 year   A666430  ...     Transfer    Spayed Female
2           1 year   A675708  ...     Adoption    Neutered Male
3          9 years   A680386  ...     Transfer    Neutered Male
4         5 months   A683115  ...   Euthanasia          Unknown

[5 rows x 12 columns]

In [10]:
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'])

df['week_of_birth'] = df['date_of_birth'].dt.week
df['month_of_birth'] = df['date_of_birth'].dt.month
df['year_of_birth'] = df['date_of_birth'].dt.year
print(df.head())

  age_upon_outcome animal_id  ... month_of_birth year_of_birth
0          2 weeks   A684346  ...              7          2014
1           1 year   A666430  ...             11          2012
2           1 year   A675708  ...              3          2013
3          9 years   A680386  ...              6          2005
4         5 months   A683115  ...              1          2014

[5 rows x 15 columns]

In [11]:
df1 = df[df['month_of_birth'] == 1]
print(df1.head())

    age_upon_outcome animal_id  ... month_of_birth year_of_birth
4           5 months   A683115  ...              1          2014
70            1 year   A670066  ...              1          2013
74           6 years   A670656  ...              1          2008
104         2 months   A675362  ...              1          2014
108          5 years   A670525  ...              1          2009

[5 rows x 15 columns]

In [12]:
#df = pd.read_csv("aac_shelter_outcomes.csv")

df1 = df[df['month_of_birth'] == 1].reset_index()
print(df1.head())

   index age_upon_outcome  ... month_of_birth year_of_birth
0      4         5 months  ...              1          2014
1     70           1 year  ...              1          2013
2     74          6 years  ...              1          2008
3    104         2 months  ...              1          2014
4    108          5 years  ...              1          2009

[5 rows x 16 columns]

In [13]:
df2 = df.set_index('month_of_birth')
print(df2.head())

               age_upon_outcome animal_id  ... week_of_birth year_of_birth
month_of_birth                             ...
7                       2 weeks   A684346  ...            28          2014
11                       1 year   A666430  ...            45          2012
3                        1 year   A675708  ...            13          2013
6                       9 years   A680386  ...            22          2005
1                      5 months   A683115  ...             2          2014

[5 rows x 14 columns]

In [14]:
print(df.head())

  age_upon_outcome animal_id  ... month_of_birth year_of_birth
0          2 weeks   A684346  ...              7          2014
1           1 year   A666430  ...             11          2012
2           1 year   A675708  ...              3          2013
3          9 years   A680386  ...              6          2005
4         5 months   A683115  ...              1          2014

[5 rows x 15 columns]

In [15]:
print("---------------------First---------------------")
print(df.iloc[0])

---------------------First---------------------
age_upon_outcome                   2 weeks
animal_id                          A684346
animal_type                            Cat
breed               Domestic Shorthair Mix
color                         Orange Tabby
date_of_birth          2014-07-07 00:00:00
datetime               2014-07-22T16:04:00
monthyear              2014-07-22T16:04:00
name                                     0
outcome_subtype                    Partner
outcome_type                      Transfer
sex_upon_outcome               Intact Male
week_of_birth                           28
month_of_birth                           7
year_of_birth                         2014
Name: 0, dtype: object

In [16]:
print("---------------------Second---------------------") 
print(df.iloc[1])

---------------------Second---------------------
age_upon_outcome                 1 year
animal_id                       A666430
animal_type                         Dog
breed                        Beagle Mix
color                       White/Brown
date_of_birth       2012-11-06 00:00:00
datetime            2013-11-07T11:47:00
monthyear           2013-11-07T11:47:00
name                               Lucy
outcome_subtype                 Partner
outcome_type                   Transfer
sex_upon_outcome          Spayed Female
week_of_birth                        45
month_of_birth                       11
year_of_birth                      2012
Name: 1, dtype: object

In [17]:
print("---------------------Last---------------------")
print(df.iloc[-1])

---------------------Last---------------------
age_upon_outcome                  2 months
animal_id                          A765857
animal_type                            Dog
breed               Labrador Retriever Mix
color                          White/Brown
date_of_birth          2017-11-13 00:00:00
datetime               2018-02-01T18:44:00
monthyear              2018-02-01T18:44:00
name                                     0
outcome_subtype                          0
outcome_type                      Adoption
sex_upon_outcome             Neutered Male
week_of_birth                           46
month_of_birth                          11
year_of_birth                         2017
Name: 78255, dtype: object

In [18]:
print("---------------------First---------------------")
print(df.loc[0, 'breed'])

---------------------First---------------------
Domestic Shorthair Mix

In [19]:
print("---------------------Second---------------------") 
print(df.loc[1, 'breed'])

---------------------Second---------------------
Beagle Mix

In [20]:
print("---------------------First---------------------")
print(df.loc[0:3, 'breed'])

---------------------First---------------------
0     Domestic Shorthair Mix
1                 Beagle Mix
2                   Pit Bull
3    Miniature Schnauzer Mix
Name: breed, dtype: object

In [21]:
print("---------------------Second---------------------") 
print(df.loc[3:6, 'breed'])

---------------------Second---------------------
3    Miniature Schnauzer Mix
4                    Bat Mix
5             Leonberger Mix
6               Squirrel Mix
Name: breed, dtype: object

In [22]:
print(len(df))
print(df.head())

78256
  age_upon_outcome animal_id  ... month_of_birth year_of_birth
0          2 weeks   A684346  ...              7          2014
1           1 year   A666430  ...             11          2012
2           1 year   A675708  ...              3          2013
3          9 years   A680386  ...              6          2005
4         5 months   A683115  ...              1          2014

[5 rows x 15 columns]

In [23]:
print("AGGREGRATING DATA")

#df = pd.read_csv("aac_shelter_outcomes.csv")
df1  = df.groupby(['year_of_birth', 'breed'])['breed'].count()
print(df1)

AGGREGRATING DATA
year_of_birth  breed
1991           Cockatoo                                  1
1992           Domestic Shorthair Mix                    1
1993           Siamese Mix                               1
1994           Domestic Medium Hair Mix                  2
               Domestic Shorthair                        1
                                                        ..
2017           Wirehaired Pointing Griffon Mix           1
               Yorkshire Terrier Mix                    32
               Yorkshire Terrier/Bruss Griffon           1
               Yorkshire Terrier/Chihuahua Shorthair     3
               Yorkshire Terrier/Miniature Schnauzer     1
Name: breed, Length: 6873, dtype: int64

In [26]:
df.head()

  age_upon_outcome animal_id  ... month_of_birth year_of_birth
0          2 weeks   A684346  ...              7          2014
1           1 year   A666430  ...             11          2012
2           1 year   A675708  ...              3          2013
3          9 years   A680386  ...              6          2005
4         5 months   A683115  ...              1          2014

[5 rows x 15 columns]

In [25]:
print("WRITING TO A FILE")
df.to_csv("new_name_of_file.csv")

WRITING TO A FILE